.center{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border:1px solid black;
  padding:10px;
  width:40%;
  background: rgb(187, 186, 186);
  border-radius:.5rem;
  transition: all 2s linear;
  animation-name:move;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
/* @keyframes move{
    0%{
        transform:scaleY(0)  translate(-50%,-50%);
    }
    100%{
        transform:scaleY(1)  translate(-50%,-50%);
    }
} */
h2{
    padding:2px;
    transition: all 2s linear;
}
.name{
    margin:10px;
    width:90%;
    outline: none;
    border:none;
    padding:5px;
    font-size:1.1rem;
    color:green;
    transition: all 2s linear;
}
#btn{
    margin:10px;
    width:90%;
    transition: all .4s linear;
}
#btn:hover{
    color:white;
    background: green;
    outline: none;
    border:none;
    font-weight: 400;
}